FOUNDRY_PROJECT_ENDPOINT=
FOUNDRY_AGENT_NAME=
FOUNDRY_MODEL_DEPLOYMENT_NAME=
VOICELIVE_ENDPOINT=
AZURE_TENANT_ID=
GRAPH_CLIENT_ID=
SHAREPOINT_INPUT_FOLDER_URL=
SHAREPOINT_OUTPUT_FOLDER_URL=
AVATAR_ENABLED=false